<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="Content-Security-Policy"
                value="'same'">
            <title>{{ title or "No title has been given"}}</title>
            <script src="{{ script }}"></script>
            <link rel="stylesheet" href="{{ style }}" />
            <link rel="shortcut icon" type="image/png" href="./static/favicon.png">
        {% endblock head %}
    </head>
    <body>
        <header>
            <nav>
                <!--  <a>&#x2630;</a>  -->
                <a id="mainlink" href="/index.njk">
                    <img width="60" height="45"
                        src="/static/logo-800x600.png"
                        alt="Mothersback logo">
                    <span class="mainlink-text">Mothersback</span>
                </a>
                <ul>
                    <li><a href="/draw.njk">Draw</a></li>
                </ul>
            </nav>
        </header>
        <main class="main">
            {% block main %}
                This page has not been defined yet
            {% endblock %}
        </main>
        <footer>
            Copyright &copy; 2018-{{ currentYear }} John Passaro
            {% include "_license.njk" %}
            <a href="https://github.com/jpassaro/mothersback">Source code</a>
        </footer>
    </body>
</html>
